$ligth_theme_text : rgb(0, 0, 0);
$dark_theme_text : rgb(255, 255, 255);

$ligth_theme_Color_primary : #1f4988;
$dark_theme_Color_primary : lighten($ligth_theme_Color_primary,20%);

$ligth_theme_Color_secondary : #ffffff;
$dark_theme_Color_secondary: darken($ligth_theme_Color_secondary,20%);

$ligth_theme_Color_terciary : #F3F6F8;
$dark_theme_Color_terciary: darken($ligth_theme_Color_terciary,20%);




$edit : rgb(223, 160, 26);
$delete : rgb(161, 16, 16);

$valide: rgb(16, 119, 55);
$invalide : rgb(255, 0, 0);

.--invalide{
    border: 1px solid $invalide;
}
.--valide{
    border: 1px solid $valide;
}


.--edit{
    background-color: $edit;
}
.--delete{
    background-color: $delete;
}
.--text-edit{
    color: $edit;
}
.--text-delete{
    color: $delete;
}

.--round{
    border-radius:50%;
}
.--border{
    border-radius:16px;
}
img{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    color:$ligth_theme_text ;
}